
$red-unimart: #BC0010;
$blue-links: #358BC5;
$light-gray-bg: #F3F3F3;
$border-color: #E5E5E5;
$text-black: #000000;
$font-main: 'Open Sans', sans-serif;

// 2. Global sozlamalar
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-main;
    color: $text-black;
    line-height: 1;
}

.container {
    max-width: 1240px; 
    margin: 0 auto;
    padding: 0 15px;
}

.top-line {
    width: 100%;
    height: 8px;
    background-color: $red-unimart;
}

// 4. Header
.header {
    
    &__top-bar {
        background-color: $light-gray-bg;
        height: 47px; 
        display: flex;
        align-items: center;
        font-size: 13px;

        .container {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }

    &__nav {
        display: flex;
        gap: 15px;
        
        a {
            color: $blue-links;
            text-decoration: none;
            white-space: nowrap;
            &:hover { text-decoration: underline; }
        }
    }

    &__user-info {
        display: flex;
        gap: 25px;
        align-items: center;

        .city {
    font-size: 13px;
    color: #000;

    &-select {
        color: #358BC5; 
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        gap: 5px; 
        margin-left: 4px;

        

        i {
            font-size: 10px; // 
            color: #000;    
            width: 8px;     
            height: 5px;    
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

        .auth {
    display: flex;
    align-items: center;
    
    gap: 6px; 

    .auth-icon {
        font-size: 12px;
        color: #084599;
        margin-right: 2px;
    }

    a {
        color: #358BC5; 
        text-decoration: none;
        font-size: 13px;
        font-family: 'Open Sans', sans-serif;
        line-height: 100%;

        &:hover {
            text-decoration: underline;
        }
    }

    
    .auth-divider {
        width: 1px;
        height: 13px; 
        background-color: #000000; 
        margin: 0 4px;
        display: inline-block;
    }
}
    }

    // Middle Header (Logo, Phone, Actions)
    &__middle {
        padding: 30px 0; 
        
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__logo img {
        width: 168px; 
        height: auto;
    }

.header__contacts {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    gap: 25px;           
    
    // Telefon qismi
    .phone-row {
        display: flex;
        align-items: center;
        gap: 10px; // 

        i {
            color: #757575; 
            font-size: 18px;
        }

        a {
            font-size: 26px;
            font-weight: 400;
            color: #000;
            text-decoration: none;
            white-space: nowrap; 
        }
    }

    // Tugma qismi
    .callback-dropdown {
        width: 187px;
        height: 32px;
        border: 1px solid #E5E5E5;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        cursor: pointer;
        background: #fff;

        span {
            font-size: 13px;
            color: #358BC5; 
            white-space: nowrap;
        }

        i {
            font-size: 10px;
            color: #000; 
        }

        &:hover {
            border-color: #ccc;
        }
    }
}

   &__actions {
    display: flex;
    align-items: center;
    
    gap: 130px; 
    flex-shrink: 0; 

    .action-item {
        display: flex;
        align-items: center;
        gap: 6px; 
        text-decoration: none;

        .action-icon i {
            font-size: 26px; 
            color: $red-unimart;
            display: block;
        }

        .action-text {
            display: flex;
            flex-direction: column;
            
            line-height: 1.1; 

            strong {
                display: block;
                font-size: 14px;
                font-weight: 400;
                color: #000;
                margin-bottom: 2px;
            }

            span {
                display: block;
                font-size: 13px;
                color: $blue-links;
                white-space: nowrap; 
                font-weight: 400;
            }
        }

        &:hover span {
            text-decoration: underline;
        }
    }
}

    &__bottom {
    padding-bottom: 20px;
    .container { 
        display: flex; 
        height: 40px; 
        align-items: center; 
    }
}

.catalog-box {
    .btn-catalog {
        background-color: #f3f3f3;
        border: none;
        height: 40px; 
        width: 230px;
        display: flex;
        align-items: center;
        justify-content: space-between; 
        padding: 0 15px; 
        font-weight: 400;
        font-size: 13px;
        cursor: pointer;
        color: #000;

        span {
            
            flex-grow: 1;
            text-align: left;
        }

        i {
            font-size: 16px;
            color: #000;
            
            margin-left: 10px; 
        }

        
    }
}

.search-box {
    flex: 1;
    display: flex;
    height: 40px;
    border: 1px solid #E5E5E5; 
    border-left: none; 

    .search-input-wrapper {
        flex: 1;
        position: relative;
        
        .search-icon-left {
            position: absolute;
            left: 15px;
            top: 50%;
            transform: translateY(-50%);
            color: #BC0010; 
            font-size: 14px;
        }

        input {
            width: 100%;
            height: 100%;
            border: none;
            padding-left: 45px;
            font-size: 14px;
            outline: none;
            background: transparent;

            &::placeholder {
                color: #999;
            }
        }
    }

    .btn-search {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        border: none;
        width: 42px;
        height: 100%; 
        cursor: pointer;
        font-size: 14px;
        background-color: #6B7FA0;
        flex-shrink: 0; 
    }
}
}



$primary-red: #C11831;
$dark-red: #7D1D2F;
$white: #ffffff;
$gray-light: #D9D9D9;

.hero {
    width: 100%;
    max-width: 1300px;
    margin: 20px auto;
    font-family: 'Arial', sans-serif;

    &__container {
        display: flex;
        height: 500px;
        position: relative;
        background-color: #fff;
        
    }

    &__content {
        position: relative;
        flex: 0 0 500px;
        background: linear-gradient(180deg, $primary-red 0%, $dark-red 100%);
        color: $white;
        padding: 120px 70px 50px 70px;
        z-index: 10; 
        clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
        

        .hero__brand {
            position: absolute; 
            top: 0;             
            left: 0;            
            background-color: #fff;
            padding: 20px 60px 20px 87px; 
            display: flex;
            align-items: center;
            justify-content: center;
            
            
            clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
    img {
        width: 140px; 
        height: auto;
        display: block;
        
    }
        }

        
        .hero__title { 
    margin-top: 25px; 
    font-size: 48px;  
    font-weight: 900; 
    color: #fff;
    line-height: 1.05; 
    text-transform: uppercase;
    margin-bottom: 25px;
    letter-spacing: -0.5px; 
}

.hero__features {
    list-style: none; 
    padding: 0; 
    margin-bottom: 50px; 
    
    li { 
        display: flex; 
        align-items: baseline; 
        margin-bottom: 8px;
        font-size: 16px; 
        font-weight: 500; 
        opacity: 0.9; 
        font-size: 18px;
        
        &::before { 
            content: "•"; 
            margin-right: 12px; 
            font-size: 18px;
            color: #fff;
        }
    }
}

.hero__footer { 
    margin-top: auto; 
    
    .hero__promo { 
        font-size: 24px; 
        line-height: 1.3;
        font-weight: 500;
        
        
    } 
}
    }

    &__visual {
        flex: 1;
        margin-left: -100px; 
        position: relative;
        z-index: 1;
        overflow: hidden;
    }

    &__image-wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        
        gap: 0;
    }

    &__image-item {
        position: relative;
        height: 100%;
        overflow: hidden;
        
        &:first-child {
            flex: 0 0 55%; 
            z-index: 2;
            transform: skewX(-12deg); 
            margin-left: -40px;
            border-right: 6px solid #fff; 
        
        &::after {
                content: "";
                position: absolute;
                top: 0;
                right: -2px; 
                width: 6px;  
                height: 100%;
                background-color: #fff;
                z-index: 3;
                
                clip-path: polygon(100% 0, 100% 0, 85% 100%, 85% 100%); 
                
            }
        }

        &:last-child {
            flex: 1; 
            margin-left: -10%; 
            z-index: 1;
            
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

    &__dots {
        position: absolute;
        bottom: 30px;
        left: 150px;
        z-index: 20;
        display: flex;
        gap: 14px;

        .dot {
            width: 24px;
            height: 24px;
            background: rgba(255,255,255, 0.6);
            border: 2px solid #fff;
            cursor: pointer;
            &.active { 
                background: 
                $primary-red; 
                border-color: 
                $primary-red; 
            }
        }
    }
}

//Catalog tovarov//

// Ranglar
$gray-border: #DDDDDD;
$text-black: #000000;

.catalog {
    padding: 80px 0;
    font-family: 'Open Sans', sans-serif;

    &__container {
        max-width: 1350px; // Figma: Hug (1,350px)
        margin: 0 auto;
        padding: 0 15px;
    }

    &__header {
        margin-bottom: 50px;
        
        .catalog__title {
            padding: 0 60px;
            font-size: 34px; // Figma Typography
            font-weight: 400;
            line-height: 26px;
            color: $text-black;
            margin-bottom: 22px;
            
        }

        .catalog__line {
            
            width: 94%;
            margin: auto;
            height: 2px;
            background-color: $gray-border; 
        }
    }

    &__slider-wrapper {
        display: flex;
        align-items: center;
        gap: 20px;
        position: relative;
        padding-top: 30px;
    }

    &__grid {
        display: flex;
        gap: 20px; // Figma Gap: 20px
        flex: 1;
    }

    &__item {
        flex: 0 0 292px; // Figma Width: 292px
        height: 400px;    // Figma Height: 400px
        position: relative;
        overflow: hidden;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.5s ease;
        }

        &:hover img {
            transform: scale(1.1);
        }

        &-info {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 150px; 
            padding: 24px;
            display: flex;
            align-items: flex-end;
            
            h3 {
                color: #ffffff;
                font-size: 18px;
                font-weight: 600;
                line-height: 1.2;
                margin: 0;
                z-index: 2;
            }
        }

        // Figma ranglaridan olingan gradientlar
        &--orange .catalog__item-info {
            background: linear-gradient(to top, rgba(190, 73, 16, 0.9) 0%, rgba(190, 73, 16, 0) 100%);
        }
        &--brown .catalog__item-info {
            background: linear-gradient(to top, rgba(76, 46, 35, 0.9) 0%, rgba(76, 46, 35, 0) 100%);
        }
        &--gray .catalog__item-info {
            background: linear-gradient(to top, rgba(108, 92, 85, 0.9) 0%, rgba(108, 92, 85, 0) 100%);
        }
        &--green .catalog__item-info {
            background: linear-gradient(to top, rgba(46, 105, 34, 0.9) 0%, rgba(46, 105, 34, 0) 100%);
        }
    }
}

// Slayder o'qlari
.slider-arrow {
    width: 40px; // Figma: 40x40
    height: 40px;
    background: #ffffff;
    border: 1px solid #fff;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;

    svg {
        width: 60px;
        fill: #C11831; 
    }

    &:hover {
        background: #fff;
    }
}

// Pagination nuqtalari
.catalog__pagination {
    display: flex;
    justify-content: center;
    gap: 16px; // Figma Gap: 16px
    margin-top: 30px;

    .p-dot {
        width: 8px;
        height: 8px;
        background: #DDDDDD;
        border-radius: 50%;
        cursor: pointer;

        &.active {
            background: #C11831;
        }
    }
}


//Offers//


// Figma Variables
$color-black: #000000;
$color-blue-link: #358BC5; 
$color-red-main: #BC0010;  
$color-border: #EBEBEB;
$color-bg-sidebar: #F8F8F8;
$color-text-gray: #999999;
$color-text-dark: #333333;
$color-yellow-sale: #FFF200;
$color-green-save: #47A13E;

.container-1230 {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.offers {
  padding: 60px 0;
  font-family: 'Open Sans', sans-serif;

  &__main-title {
    font-size: 32px;
    font-weight: 400;
    line-height: 1.2;
    color: $color-black;
    margin-bottom: 25px;
  }

  &__divider {
    height: 1px;
    background-color: #DDDDDD;
    margin-bottom: 40px;
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 24px;
    color: $color-red-main;
    cursor: pointer;
    z-index: 5;
    padding: 10px;
    transition: opacity 0.3s;

    &:hover { opacity: 0.7; }
    &--prev { left: -45px; }
    &--next { right: -45px; }
  }

  &__layout {
    display: flex;
    border: 1px solid $color-border;
    width: 100%;
    background: #fff;
  }

  &__sidebar {
    width: 280px;
    flex-shrink: 0;
    
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
  }

  &__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

// Side Menu
.side-menu {
  &__header {
    height: 48px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 600;
    
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    padding: 12px 20px;
    font-size: 14px;
    color: #9F9F9F;
    cursor: pointer;
    border-left: 4px solid transparent;
    transition: all 0.2s;
    font-weight: 400;

    

    &--active {
      background-color: #F3F3F3;
      font-weight: 600;
      border-left-color: $color-red-main;
      color: $color-text-dark;
    }
  }
}

.offers__sidebar-banner {
  padding: 15px;
  margin-top: auto;
  img {
    height: 268px;
    width: 100%;
    display: block;
    object-fit: cover;
  }
}

// Filter Bar
.filter-bar {
  border-bottom: 1px solid $color-border;
  display: flex;
  justify-content: flex-end;
  height: 48px;

  &__group { display: flex; }

  &__item {
    padding: 0 20px;
    display: flex;
    align-items: center;
    border-left: 1px solid $color-border;
    font-weight: 400;
    font-size: 12px;
    color: #757575;

    span { color: #358BC5; margin-left: 5px; cursor: pointer; }
    i { color: #787878; margin-left: 10px; font-size: 11px; }

   
  }

  &__reset {
    background: none;
    border: none;
    
    color: #BC0010;
    font-size: 24px;
    padding: 0 20px;
    cursor: pointer;
  }
}

// Product Cards
.offers__grid {
  display: flex;
  width: 100%; // Konteynerdan chiqib ketmasligi uchun
  flex-direction: row;
}

.p-card {
  flex: 1 0 33.33%;
  padding: 20px;
  border-right: 1px solid #EBEBEB;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  &:last-child {
    border-right: none;
  }


  &__img {
    width: 100%;
    margin-bottom: 15px;
    object-fit: cover;
    img { width: 100%; height: 268px; display: block; }
  }

 &__badges {
  display: flex;
  flex-wrap: wrap;
  gap: 3px; 
  margin-bottom: 12px;
  min-height: 22px; 

  .badge {
    padding: 2px 5px; 
    font-size: 10px; 
    line-height: 14px;
    color: #fff;
    font-weight: 400; 
    text-transform: none; 
    display: inline-flex;
    align-items: center;
    border-radius: 0; 

    &--navy { background: #0E2F83; }   
    &--green { background: #1CA200; }  
    &--blue { background: #627DC1; }   
    &--red { background: #BC0012; }    
    &--green2 {background: #75CC4F;}
  }
}

  &__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #358BC5;
    margin-bottom: 12px;
    height: 72px;
    overflow: hidden;
    cursor: pointer;
    &:hover { text-decoration: underline; }
  }

  &__promo {
    display: flex;
    align-items: flex-start;
    color: #BC0010;
    margin-bottom: 8px;
    min-height: 28px;
    font-size: 14px;
    &-icon {
    font-size: 14px; 
    font-weight: 400; 
    margin-right: 4px;
    line-height: 14px; 
    margin-top: 2px; 
  }
  &-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px; // Figma: 14px
    font-weight: 400; // Figma: 400
    line-height: 14px; // Figma: 14px
    text-decoration: none;
    
    
    max-width: 244px;
    display: block;
  }
  }

  &__link {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #358BC5;
    
    margin-bottom: 20px;
    display: inline-block;
    cursor: pointer;

    &:hover {
    text-decoration: underline; 
    
  }
  }

  &__footer {
    margin-top: auto;
    display: flex;
    gap: 15px;
  }
}

// Price Block
.price-block {
  flex: 1;

  &__label {
    display: flex;
    gap: 4px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #BC0010;
    margin-bottom: 4px;
    span { color: #358BC5; display: inline-block; }
  }

  &__main {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    line-height: 24px;
    display: inline-block;
    span {
        color: #9F9F9F;
        font-size: 12px;
        
    }


    .sup { font-size: 12px; vertical-align: super; margin-left: 1px; }
    .currency { font-weight: 400; font-size: 16px; }
  }

  &__old {
    margin-top: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    .old-val {
      font-family: 'Open Sans', sans-serif;
      font-size: 11px;
      text-decoration: line-through;
      white-space: nowrap;
      color: #242424;
      background: #FFE326;
      
      padding: 0 ;
    }
    .save-val {
      display: inline-flex;
      align-items: center;
      color: #47A13E;
      font-weight: 600;
      line-height: 14px;
      font-size: 11px;
      margin-top: 2px;
      white-space: nowrap;
    }
  }
}

// Pagination
.pagination {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  &__dots {
    display: flex;
    gap: 10px;
    .dot {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #DDDDDD;
      cursor: pointer;
      &--active { background-color: $color-red-main; }
    }
  }
}




//Aksiya//


// O'zgaruvchilar
$primary-red: #BC0010;
$text-black: #000000;
$text-white: #FFFFFF;
$divider-color: #DDDDDD;
$font-family: 'Open Sans', sans-serif;

.promotions {
  padding: 80px 0;
  font-family: $font-family;
  background-color: #ffffff;

  &__container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column; // Elementlarni ustma-ust taxlash
    gap: 80px; // Figma: Frame 470 va Frame 610 orasi
  }

  &__header {
    width: 1230px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 15px;

  }

  &__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 34px; // Figma: Size 34px
    font-weight: 400; // Figma: Weight 400
    line-height: 26px; // Figma: Line height 26px
    color: $text-black;
    margin: 0;
    padding: 0;
  }

  &__line {
    width: 100%; // Header kengligiga (1230px) 
    height: 2px; // Figma: Border 2px
    background-color: $divider-color;
    border: none;
    margin: 0;
  }

  &__slider-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); // 4 ta teng ustun
    gap: 30px;
    flex-grow: 1;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 40px; // Figma: Frame 610 va Pagination orasi

    .dot {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #EBEBEB;
      cursor: pointer;
      transition: background 0.3s ease;

      &.active {
        background-color: $primary-red;
      }
    }
  }
}

.promo-card {
  width: 292px;   // Figma: Width 292px
  height: 400px;  // Figma: Height 400px
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 24px;  // Figma: Padding 24px
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 2px;
  color: #FFFFFF;

  &__bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  // --- FIGMA GRADIENTLARI ---
  
  // 1-kartochka (Kulrang/Jigarrang gradient)
  &--gray &__overlay {
    background: linear-gradient(180deg, rgba(173, 173, 173, 0) 0%, #6C6C6C 100%); 
    opacity: 0.8; // Figma: 20% qatlami borligini hisobga olib
  }
  
  // 2-kartochka (Yashil gradient)
  &--green &__overlay {
    background: linear-gradient(180deg, rgba(170, 161, 79, 0) 0%, #AAA14F 100%);
  }

  // 3-kartochka (Qizil - Radial va Linear aralashmasi)
  &--red {
    background-color: #C6342A; // Figma: Red background
    .promo-card__overlay {
      background: linear-gradient(180deg, rgba(205, 61, 51, 0) 0%, #CD3D33 100%);
    }
    
    .promo-card__icon-wrap {
      position: absolute;
      top: 40%; // Figma: Joylashuvi markazroq
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      img { 
        width: 120px; 
        height: auto;
        object-fit: contain;
      }
    }
  }

  
  &--brown &__overlay {
    background: linear-gradient(180deg, rgba(130, 97, 84, 0) 0%, #826154 100%);
  }

  &__content {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    // Figma: Sarlavha, matn va timer orasidagi umumiy gap
    gap: 10px; 
  }

  &__name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700; // Figma: Weight 700
    font-size: 18px;  // Figma: Size 18px
    line-height: 24px; // Figma: Line height 24px
    color: #FFFFFF;
    margin: 0;
  }

  &__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600; // Figma: Weight 600
    font-size: 14px;  // Figma: Size 14px
    line-height: 18px; // Figma: Line height 18px
    color: #FFFFFF;
    margin: 0;
    
    margin-bottom: 4px; 
  }
}

// Timer qismi 
.timer {
  display: flex;
  align-items: flex-end; // Raqamlar va "До конца" pastki chiziqda tekislanadi
  gap: 8px; // Figma: Frame 583 va Frame 582 orasi

  &__label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600; // Figma: Weight 600
    font-size: 16px;  // Figma: Size 16px
    line-height: 16px; // Figma: Line height 16px
    width: 75px;      // Figma: Width 75px
    color: #FFFFFF;
    margin: 0;
  }

  &__display {
    display: flex;
    align-items: center;
    gap: 2px; // Figma: Frame 582 ichidagi elementlar orasi (Gap 2px)
  }

  &__unit {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 34px; // Figma: Har bir unit kengligi

    
    span {
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      font-size: 20px; 
      line-height: 20px;
      color: #FFFFFF;
    }

    
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 2px;
  }
}


.slider-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  flex-shrink: 0;
  transition: opacity 0.2s;

  &:hover { opacity: 0.6; }
}
